<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <form v-on:submit.prevent="filterGoods(searchLine)">
                <input type="text" v-model="searchLine">
                <button>Искать</button>
            </form>
            <div class="cart">
                <button class="cart-button" @click="hideShow">Корзина</button>
                <div class="cart-container">
                    <ul class="cart-goods">
                        <li v-for="good in cart">{{ good.product_name }}</li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="goods-list" v-if="hasGoods">
                <div class="goods-item" v-for="good in filteredGoods" :key="good.id_product">
                    <img src="https://via.placeholder.com/250" alt="alt">
                    <h3>{{ good.product_name }}</h3>
                    <p>{{ good.price }}</p>
                    <button @click="addToCart(good)">Добавить</button>
                </div>
            </div>
            <p v-else>Нет данных</p>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>